<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <style>
  {{ css }}
  html { background: #f0f0f0; }
  body { background: #fff; margin: 40px auto; max-width: 1000px; padding: 20px 40px 40px; }
  code { background: #e0e0e0; border-radius: 2px; padding: 1px 2px; }
  </style>
</head>
<body>{{ body }}</body>
</html>
